.card {
	width: 10rem;
	height: 13rem;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	width: 10rem;
	text-align: center;
	background: rgba(255, 255, 255, 0.26);
	border: 7px solid var(--orangeCard);
	border-radius: 20px;
	padding: 0px 26px 3rem 26px;
}


.card span:nth-of-type(2) {
	color: var(--gray);
	font-size: 15px;
}

.card > img {
	transform: scale(0.65);
	margin-bottom: -2rem;
}

.c-button {
	background: #ffffff;
	box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.18);
	border-radius: 7px;
	border: none;
	padding: 10px;
	font-size: 16px;
	color: #5290fd;
}